[flake8]
max-line-length = 88
max-complexity = 18
exclude = build/*, tests/*, .nox/*, .cache/*
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
ignore = E203, E266, E501, W503
select = B,C,E,F,W,T4
