#osx
.DS_Store
.AppleDouble
.LSOverride

# cache
__pycache__
.idea

# python
*.pyc
.venv
venv

# PyPi
dist
build
.vscode/*
*.egg-info
.mypy_cache
.pytest_cache
.coverage
coverage.xml

.devcontainer/*
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.devcontainer/example-env
