<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>9696</Port>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>5f96fdd18ce147b79b54c2fdadb7e19a</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>master</Branch>
  <InstanceName>Prowlarr</InstanceName>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
</Config>
