---

version: '3'
services:
  pyarr-workspace:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pyarr-workspace
    volumes:
      - type: bind
        source: ${HOME}/.ssh
        target: /home/vscode/.ssh
        consistency: cached
      - type: bind
        source: ${HOME}/.gitconfig
        target: /home/vscode/.gitconfig
        consistency: cached
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    command: sleep infinity
