name: Check Version has been updated

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
jobs:
  checkVersion:
    if: github.event_name  == 'pull_request'
    name: Check version updated
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Check if Python files changed
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: |
            .py
            pyproject.toml
      - name: Run step if any of the listed files above change
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          echo "One or more files has changed."
      - name: Check package version
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: dudo/tag_check@v1.1.1
        with:
          git_tag_prefix: v
